:root{
    --color1: rgba(255, 115, 76, 0.3);
    --color2: rgb(199, 52, 79);
    --color3: rgb(230, 255, 113);
    --color4: rgb(144, 59, 78);
    --color5: rgb(87, 33, 67);
    --color6: rgba(255, 245, 201, 0.6);
    --color7: rgba(0, 0, 0, 0.28);
    --color8: rgba(253, 255, 248, 0.8);


}

body{
    font-family: "ALK Rex Bold", sans-serif;
}

.title{
    padding:15px 0;
    margin:0;
}

.clean{
    background: var(--color3);
}

.unclean{
    background: var(--color2);
}

a, a:hover{
    color: var( --color5);
    text-decoration: none;
}

.box{
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -2px var(--color7);
    padding:10px;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
    background: var(--color6);
}

.box:hover{
    background: var(--color8);
    box-shadow: 0px 0px 10px 0px var(--color7);
}

.box > a{
    font-size: 1.5rem;
}

.box img{
    width:200px;
}

.image{
    display: block;
    width:240px ;
    height:150px;
    background-size:cover;
    padding: 0 0 0 10;
    background-position: 100%;
}